[Desktop Entry]
Name=Aptana Studio 3
Comment=Get Launch Aptana Studio 3
Exec=/opt/Aptana_Studio_3/AptanaStudio3
Icon=/opt/Aptana_Studio_3/aptanaicon.png
StartupNotify=true
Terminal=false
Type=Application
MimeType=text/plain; 
Categories=Development;IDE;
